@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --foreground: 20 14.3% 4.1%;
    --background: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 22 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 32 100% 98%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --ring: 24.6 95% 53.1%;
    --input: 0 0% 90%;
    --border: 20 5.9% 90%;

    --radius: 18px;
    --story-width-mobile: 120px;
    --story-width-tablet: 160px;
    --story-width-desktop: 200px;
  }
}

* {
  font-family: var(--font-nunito), sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}

@layer components {
  .container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skeleton-shimmer {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb; /* bg-gray-200 */
}

.skeleton-shimmer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shimmer 1.5s infinite;
}
.swiper-slide {
  width: var(--story-width-mobile) !important;
  height: 152px !important;
  margin-right: 8px;
}

@media (min-width: 640px) {
  .swiper-slide {
    width: var(--story-width-tablet) !important;
    height: 202px !important;
    margin-right: 8px;
  }
}

@media (min-width: 1024px) {
  .swiper-slide {
    width: var(--story-width-desktop) !important;
    height: 280px !important;
    margin-right: 8px;
  }
}
